.pill-nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}

/* Change the color of links on mouse-over */
.pill-nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.pill-nav a.active {
    background-color: dodgerblue;
    color: white;
}
body {
    background-image: url("pexels-valeriia-miller-2610309.jpg");
    background-size: cover;
}
h1 {
    color: white;
    margin-left: 14%;
    font-size: xxx-large;
    border: 150px;
    position: center;
    top: 150px;
    padding-top: 80px;
    left: 200px;
    font-family: "Gill Sans MT";
    letter-spacing: 0.2em;

}
.contactcontainer{
    color: white;
    margin-top: 10%;
}

