<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_head">
</head>
<body id="about">
<div th:insert="fragments/header :: navbar">
</div>
<div class="my-element" id="header">
    <h1>About</h1>
</div>
<div class="content">
    <div class="text" style="color: white">
        <br>
        <p>Lions, tigers, and bears definitely aren’t meant to live as a pack. But not every animal has been through the
            trauma
            that forged the bond between three normally opposing male predators.
            Back in 2001, police raided a drug dealer’s house in Atlanta, Georgia. </p>
        <p>In the basement, they came across a
            heartbreaking sight. There sat three terrified, malnourished, and parasite-ridden cubs that certainly didn’t
            belong
            in anyone’s home.</p>

        <p>The African lion, Leo, had been stuffed inside a small crate with an open wound on his face. Shere Khan, the
            Bengal
            tiger, was emaciated, and the black bear, Baloo, was wearing a harness so small it had become embedded into
            his
            flesh.</p>

        <p> But their nightmare was finally over; the Georgia Department of Natural Resources took them to Noah’s Ark
            Animal
            Sanctuary, a nonprofit animal rescue in Locust Grove. There, they’d spend the rest of their days on a
            beautiful
            250-acre property. They’d already been through too much in their short lives to ever be released back into
            the wild.</p>

        <p>“When they were first brought to the sanctuary, Baloo, Shere Khan, and Leo were injured, frightened and
            clinging to
            one another for comfort,” curator Allison Hedgecoth told HuffPost. And as they got more comfortable, they
            groomed
            each other, cuddled, and played together. Clearly, they were a bonded trio.</p>

        <p> Sanctuary staff anticipated the need to separate the friends once they reached maturity, as they would
            likely grow
            apart. After all, it’s the natural order in the animal kingdom. But the trio, known as BLT (bear, lion,
            tiger),
            never left each other’s sides. The sanctuary ultimately decided to keep them together.</p>

        <p>For 15 years, Baloo, Leo, and Shere Khan lived, slept, and ate in the same habitat. And after surviving such
            horror
            together, they couldn’t have been happier.</p>

        <p>Baloo, the playful one, loved teasing Leo with gentle bites. And the affectionate Shere Khan could often be
            found
            snuggling up to either of his brothers.</p>

        <p> “Even though they live in a three-acre enclosure, they’re usually within 100 feet of each other,” Allison
            told
            Inside Edition. “That’s proof that they’re not just coexisting or cohabiting, they actually do enjoy each
            other’s
            company.”</p>

        <p> Leo and Shere Khan spent the rest of their lives with Baloo before they passed away, respectively, in 2016
            and 2018.
            Baloo was there for both of their burials — and a constant presence in their final days.</p>

        <p> While everyone at the sanctuary is still heartbroken over their deaths, they find solace in knowing they
            gave all
            three a fantastic life together. And they’re making sure Baloo knows he isn’t alone.</p>

        <p> Rest in peace, Leo and Shere Khan. The world will never forget your beautiful story of survival and
            friendship.</p></div>
    <br>

    <iframe width="750" height="450" src="https://www.youtube.com/embed/fdxU6CpvUgg" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    <br>
</div>
</body>
<div th:insert="fragments/header :: scriptje"></div>
</html>