<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_head">
</head>
<body>
<div th:insert="fragments/header :: navbar">
</div>

<div class="my-element" id="header">
    <h1>Adding A Tiger</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="description">

            </div>
            <br>
            <br>
            <br>
            <div class="contactcontainer">
                <form th:action="@{savetiger}" method="post" th:object="${newtiger}">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="name" class="form-label">Name</label>
                            <input id="name" class="form-control" placeholder="Name" name="name">
                        </div>
                        <div class="col-md-4">
                            <label for="country" class="form-label">Country</label>
                            <select class="form-control" th:field="*{country.id}" id="country">
                                <option th:each="country :${countries}" th:text="${country.getName()}"
                                        th:value="${country.getId()}"></option>
                            </select>
                        </div>
                        <div class="row" style="margin-top: 2%">
                            <div class="col-md-4 offset-md-4">
                                <button id="submitbnt" type="submit" class="form-control btn btn-primary">Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
<div th:insert="fragments/header :: scriptje"></div>
</html>