<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_head">
</head>
<body>

<div th:insert="fragments/header :: navbar">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="description">

            </div>
            <br>
            <br>
            <br>
            <div class="contactcontainer">
                <form th:action="@{savegame}" method="post" th:object="${newGame}">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="name" class="form-label">Name</label>
                            <input id="name" class="form-control" placeholder="Name" name="name">
                        </div>
                        <div class="col-md-4">
                            <label for="email" class="form-label">Email</label>
                            <input class="form-control" id="email"
                                   placeholder="Email" name="email">
                        </div>
                        <div class="col-md-4">
                            <label for="message" class="form-label">Message</label>
                            <input class="form-control" id="message"
                                   placeholder="Message" name="message">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2%">
                        <div class="col-md-4 offset-md-4">
                            <button id="submitbnt" type="submit" class="form-control btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
